
ol.breadcrumb {
    font-size: 0.9em;
    border: 1px solid #ddd;
}

div.contents-container {
    padding: 0px 10px;

    dl {
        margin: 0 10px;

        dt {
            margin-bottom: 5px;

            span {
                font-size: 0.87em;
            }
        }

        dd {
            margin: 5px 5px 20px 5px;
        }
    }

    table.social-table {
        margin: 10px;
    }

    p {
        font-size: 0.95em;
        line-height: 19px;
    }
}
