<div id="social-list-container">
    <ul class="social-list">
        <li>
            <!-- twitter button -->
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://adult-midnight.net" data-lang="ja">ツイート</a>
        </li>
        <li>
            <!-- facebook button -->
            <div class="fb-like" data-href="http://adult-midnight.net" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
        </li>
        <li>
            <a href="http://b.hatena.ne.jp/entry/http://adult-midnight.net" class="hatena-bookmark-button" data-hatena-bookmark-title="全自動アダルトサイト AdultMidnight" data-hatena-bookmark-layout="standard-balloon" title="このエントリーをはてなブックマークに追加">
                <img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" />
            </a>
        </li>
        <li>
            <!-- google plus one button -->
            <div class="g-plusone" data-size="medium"></div>
        </li>
    </ul>
</div>
<p><a href="/">AdultMidnight ver${version}</a></p>
