<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="keywords" content="アダルト,AV,女優,xvideos,porno,xhamster" >
        <meta name="description" content="${description}">

        <meta link rel="author" href="https://plus.google.com/107799956847403953714" />
        <link href="/resources/favicon.ico" rel="shortcut icon" />

        <title>${title}</title>

        <link rel="stylesheet" href="/resources/lib/TwitterBootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/resources/lib/TwitterBootstrap/3.2.0/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/resources/lib/LunchPack/lunch.css" />
        <link rel="stylesheet" href="/resources/css/main.css" />

        <script type="text/javascript" src="/resources/js/analytics.js"></script>
        <script type="text/javascript" src="/resources/js/share_buttons.js"></script>
        <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

    </head>
    <body>
        <div id="header">
            <h1 id="site-title"><a href="/">Adult Midnight</a></h1>
        </div>
        <div id="main-container">
            <div class="row">
                <div class="col-md-8">
                    ${contents}

                    <div id="pager-container">
                        ${pager}
                    </div>
                </div>

                <div class="col-md-4">
                    ${sidemenu}
                </div>
            </div>
        </div>
        <div id="footer">
            ${footer}
        </div>
    </body>
</html>
