<div id="side-menu-container">
    <h3 class="side-menu-header">Information</h3>
    <div class="side-menu list-group">
        <a class="list-group-item ${site}" href="/information/site.html">AdultMidnightとは(はじめにお読み下さい)</a>
        <a class="list-group-item ${who}" href="/information/who.html">管理人について</a>
    </ul>

    <div class="wish-list">
        <script charset="utf-8" type="text/javascript" src="http://ws.amazon.co.jp/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822/JP/lazuli2641-22/8004/2b628182-6028-4fc9-aa1e-ecb86629b080"></script>
        <noscript>
            <a href="http://ws.amazon.co.jp/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Flazuli2641-22%2F8004%2F2b628182-6028-4fc9-aa1e-ecb86629b080&Operation=NoScript">Amazon.co.jp ウィジェット</a>
        </noscript>
    </div>
</div>
