<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">AdultMidngihtとは (はじめにお読み下さい)<li>
</ol>

<div class="contents-container">
    <p>AdultMidnightは完全無料のアダルトサイトです。</p>
    <p>今夜更新された気になるエロ記事を紹介しています。<br />
    18歳未満の方の閲覧は禁止しています。</p>


    <dl>
        <dt><span class="lunch-label-success">サイトコンセプトについて</span></dt>
        <dd><p>当サイトは、なるべくサーバ管理をせずに <a href="http://aws.amazon.com/jp/" target="_blank">AmazonWebService</a> の機能のみを使ってサイト更新をしていくというコンセプトのもとで作成されました。実際に当サイトはサーバ管理を行なっておらず <a href="http://aws.amazon.com/jp/s3/" target="_blank">AmazonSimpleStorageService</a> という機能を利用して動作しています。<br />
        その他、詳細な運用方法につきましては下記を参考にしてください。</p>
        <a href="http://app2641.hatenablog.com/entry/2013/04/02/223514" target="_blank">
            サーバを持たない全自動アダルトサイト「AdultMidnight」を作りました
        </a></dd>

        <dt><span class="lunch-label-success">更新ペースについて</span></dt>
        <dd><p>毎日のコンテンツ更新を目標にしています。<br />更新するコンテンツはすべて無料です。</p></dd>

        <dt><span class="lunch-label-success">リンクについて</span></dt>
        <dd><p>当サイトはリンクフリーです。<br />ご自由にリンクください。</p></dd>

        <dt><span class="lunch-label-success">免責事項</span></dt>
        <dd><p>当サイトに含まれる情報もしくはサービスなどを利用することにより生じる直接的または間接的な損失に対して、当サイトは一切責任を負いません。<br />
        当サイト・または情報を利用する場合、上記の免責事項に同意したとみなし自己責任の上、ご利用下さい。</p></dd>
    </dl>
</div>
