<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">管理人について<li>
</ol>

<div class="contents-container">
    <p>AdultMidnight は app2641 が運営しています。<br />
    何かしら連絡を取りたい方は、app2641+adult-midnight@gmail.com へご連絡下さい。</p>

    <table class="social-table">
        <tr>
            <td><p><a href="http://app2641.com" target="_blank">WebSite</a></p></td>
        </tr>
        <tr>
            <td><p><a href="http://twitter.com/app2641" target="_blank">Twitter</a></p></td>
        </tr>
    </table>
</div>
